


div.row
	div.span3
		h2 Log In

div.row
	div.span2
		br
		h3 Via Facebook:
	
	div.span1
		#fb-login.pull-right(style='float: left; margin-left: 5px')
			a(href='/auth/facebook', style='border: 0px')
				img(style='border: 0px', src='/images/facebook_64.png')		
div.row
	div.span3

		h2.center -or-
		- if ('undefined' !== typeof errors && errors.length)
			- each error in errors
				div.alert.alert-error= error
		form(action='/login', method='POST')
			#login
				label(for=everyauth.password.loginFormFieldName) Username
				input(type='text', name=everyauth.password.loginFormFieldName, value=login)
			#password
				label(for=everyauth.password.passwordFormFieldName) Password
				input(type='password', name=everyauth.password.passwordFormFieldName)
			#submit
				input.btn.btn-success.btn.pull-right(type='submit') Login

		br
		br
		

		script
			$(document).ready(function() {  
				var home = document.getElementById(home);
				var projects = document.getElementById(projects);
				$("#login").addClass("active");});
