div.row
	div.span3
		h2 Register
div.row
	div.span2
		
		#fb-login(style='float: left; margin-left: 5px')
			a(href='/auth/facebook', style='border: 0px')
				img(style='border: 0px', src='/images/facebook_128.png')		

	div.span1
		br
		br
		h1= "  -or-  "
	div.span3
		- if ('undefined' !== typeof errors && errors.length)
			- each error in errors
				div.alert.alert-error= error
		form(action='/register', method='POST')
			#login
				label(for=everyauth.password.loginFormFieldName) Username
				input(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName])
			#password
				label(for=everyauth.password.passwordFormFieldName) Password
				input(type='password', name=everyauth.password.passwordFormFieldName)

			#submit
				input.btn.btn-success.pull-right(type='submit') Register
		br
		br

script
	$(document).ready(function() {  
		var home = document.getElementById(home);
		var projects = document.getElementById(projects);
		$("#signup").addClass("active");});

